* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #D98C82;
    color: #fff;
}

.itmes{
    display: flex;
    gap: 40px;
}
.navbar .brand {
    font-size: 2rem;
    font-weight: 700;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: calc(100vh - 70px);
    background-color: #FFFFFF;
}

.hero .left {
    max-width: 50%;
}

.hero .left h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #D98C82;
}

.hero .left p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #555;
}

.hero .left .btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #D98C82;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero .left .btn:hover {
    background-color: #D98C82;
}

.hero .right img {
   height: 500px;
   width: 700px;
}


  
  .courses-section {
    padding: 20px;
    text-align: center;
    background-color: #D98C82;
    color: #333;
    height: 100vh;
  }
  
  .courses-section h1 {
    margin-bottom: 20px;
    color: #fff;
    
  }
  
  .courses-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .course-card {
    background-color: #F5E5DC;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  
  
  .course-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .course-card h2 {
    font-size: 1.5rem;
    color: #6D4C41;
    margin: 15px 0 10px;
  }
  
  .course-card p {
    padding: 0 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
  }
  
  .course-card button {
    background-color: #D98C82;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
  }
  
  .course-card button:hover {
    background-color: #BF716B;
  }
  .section{
    height: 100vh;
    width: 100vw;
  }