* {
margin : 0;
padding : 0;
box-sizing : border-box;
}
html,body {
width: 100%;
height: 100%;
background-color: black;
color: white;
display: flex;
align-items: center;
justify-content: center;

}

h1{
    font-size: 100px;
    overflow: hidden;
}
h1 .a{
    display: inline-block;
}
h1 .b{
    display: inline-block;
}